@charset "UTF-8";

nav {
  background-color: blue;
  background-image: linear-gradient( hsla( 0,0%,100%,0.2 ), hsla( 0,0%,100%,0.2 ) );
}

nav a {
  color: white;
}

nav {
  font-size: x-large;
  font-weight: bold;
}

body {
  font-family: "TeX Gyre Heros", "Migu 1P", "TakaoGothic", "VL Gothic", "Yu Gothic", "Meiryo UI", sans-serif;
}

table {
  border: none;
  border-collapse: collapse;
}
td, th {
  border-style: none;
}

body>h1 {
  font-size: 3em;
}

section>h1 {
  font-size: 3em;
}
section>section>h2 {
  font-size: 2em;
}

/** Base color **/
.alert {
  background-color: red;
}
.example {
  background-color: green;
}
.structure {
  background-color: blue;
}
.alert, .example, .structure {
  background-image: linear-gradient( hsla( 0,0%,100%,0.2 ), hsla( 0,0%,100%,0.2 ) );
}

/** Table head **/
.alert thead>tr>th, .example thead>tr>th, .structure thead>tr>th {
  color: white;
  text-align: left;
  font-size: larger;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.alert tbody, .example tbody, .structure tbody {
  background-image: linear-gradient( hsla( 0,0%,100%,0.9 ), hsla( 0,0%,100%,0.9 ) );
}

/** Column margin **/
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

